@font-face {
 font-family:"bebasfont";
 font-style:normal;
 font-weight:normal;
 src:url("../font/BEBAS.eot?#iefix") format("embedded-opentype"), url("../font/BEBAS.ttf") format("truetype");
}
@font-face {
 font-family:"Titillium";
 font-style:normal;
 font-weight:normal;
 src:url("../font/Titillium.eot?#iefix") format("embedded-opentype"), url("../font/Titillium.ttf") format("truetype");
}
#head {
	width:100%;
	height:150px;
	background:#191919 url(../images/headborder-img.png) bottom center no-repeat;
	font-family:"bebasfont";
	border-top:3px solid #f7931d;
	overflow:hidden;
}
#head div {
	width:980px;
	margin:0 auto;
}
.index-manage {
	height:36px;
	line-height:36px;
	width:928px;
	padding-right:52px;
	display:block;
	text-align:right;
}
.index-manage a {
	font-size:12px;
	color:#fff;
}
#head div ul {
	width:973px;
	height:70px;
	background:url(../images/focusbg.png) 0 -85px repeat-x;
	border-radius:3px 3px 3px 3px;
	padding:7px 7px 8px 0;
}
#head div ul li {
	float:right;
	border-right:1px solid #000;
	background:url(../images/focusbg.png) 0 0px repeat-x;
	height:77px;
	padding:0 15px 0 15px;
}
#head div ul li.navlogo, #head div ul li.navlist {
	padding:0;
}
li.navlist a {
	font-size:23px;
	box-shadow:0px -1px 0px rgba(0, 0, 0, 0.7);
	color:#fff;
	padding:15px 34px 5px;
	display:block;
	margin-top:2px;
	line-height:24px;/*word-spacing:0.4em;
	letter-spacing:0.5px;*/
	transition: all 0.2s ease-in-out 0.1s;
}
li.navlist a font {
	font-size:12px;
	color:#ff7201;
	transition: all 0.2s ease-in-out 0.1s;
}
li.navlist a:hover font {
	color:#fff;
	}
li.navlist a:hover {
	background:#ff8900;
}
#head div ul li a.input-style1 {
	margin:24px 0 0 15px;
}
.navuserlogin{
	width:194px;
	}
.navuserlogin .out,.navuserlogin .username{
	margin-top:24px;
	}
.navuserlogin .btn-blue{
	font-size:12px;
	}
.navuserlogin .username{
	background-color:#342e2b;
	background-image:url(../images/ioc_bg.png);
	background-position:5px -170px;
	background-repeat: no-repeat;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    display:inline-block;
    font-family:Titillium;
    height:30px;
    line-height:30px;
    margin-right:5px;
	margin-left:3px;
    padding: 0 0 0 25px;
    vertical-align: top;
	width:90px;
	overflow:hidden;
	}
#head .navuserlogin .username div{
	width:62px;
	overflow:hidden;
	display:inline-block;
	text-align:left;
	margin:0;
	}
.navuserlogin .username span{
	display:inline-block; 
	height:30px;
    line-height:30px;
	background:#3566c0;
	border-radius: 0px 4px 4px 0px;
	width:28px;
	text-align:center;
	float:right;
	}
.navlogo a {
	position:relative;
	top:-35px;
	left:-32px;
}
.search {
	height:132px;
	width:100%;
	background:url(../images/search.gif) 0 0 repeat-x;
}
.index_banner div,.search div {
	width:100%;
	height:81px;
	background:url(../images/headborder-img.png) bottom center no-repeat;
}
.search div div {
	padding:30px 30px 0 5px;
	height:51px;
	width:925px;
	margin:0 auto;
}
.search div div table tr td {
	padding-left:24px;
	vertical-align:top;
}
.input-style1 {
	padding:0 18px;
	height:27px;
	line-height:27px;
	font-size:16px;
	color:#FFF;
	background-image:url(../images/focusbg.png);
	background-position:0 -175px;
	background-repeat:repeat-x;
	border-radius:14px 14px 14px 14px;
	transition: all 0.0s ease-in-out 0s;
	display:inline-block;
	border:none;
	cursor:pointer;
}
.input-style1:hover {
	background-position:0 -205px;
}
.input-style2 {
	width:110px;
	cursor:pointer;
	height:30px;
	line-height:30px;
	font-size:18px;
	color:#FFF;
	background-image:url(../images/focusbg.png);
	background-position:0 -238px;
	background-repeat:repeat-x;
	border-radius:16px 16px 16px 16px;
	display:inline-block;
	border:none;
}
.fontstyle {
	font-family:"bebasfont";
	font-size:16px;
	color:#fff;
}
.searchinput {
	padding:0 14px;
	border-radius:14px 14px 14px 14px;
	border:0;
	font-family:"Titillium";
	font-size:14px;
	color:#141414;
	line-height:30px;
	height:30px;
}
.textinput-w {
	width:154px;
}
.textinput-w2 {
	width:80px;
} 
.mian {
	background:url(../images/content_bg.gif) repeat-x;
}
.content {
	width:905px;
	margin:0 auto 30px;
	background:url(../images/content_bg2.gif);
	border-radius:12px 12px 12px 12px;
	display:table;
}
.h-blackbg {
	width:100%;
	height:195px;
}
.footer {
	clear:both;
	width:100%;
	background:#f7931d;
	height:32px;
	line-height:32px;
}
.footer div {
	width:960px;
	margin:0 auto;
	font-size:8px;
	color:#000;
}
.footer div a {
	font-family:"Titillium";
	font-size:10px;
	color:#000;
	font-weight:bold;
	margin:0 5px;
}
.footer div a:hover {
	text-decoration:underline;
}
.login {
	width:390px;
	margin:35px 0 40px 55px;
	padding:25px 0 100px;
	float:left;
}
.login h6 {
	color:#f38b33;
	font-size:24px;
}
.login h6.layer-r{
	color:#000;
	font-size:24px;
	font-family:"Titillium";
	}
.login-l {
	border-right:1px dashed #a5a5a5;
}
.login-r table {
	border-bottom:1px dashed #a5a5a5;
	width:100%;
	margin-bottom:25px;
}
.login-r table.bor-none{
	border:none;
	}
.login-l table td span, .login-r table td span {
	display:block;
	color:#141414;
	font-size:14px;
	height:33px;
	padding-top:19px;
}
.login-l table td span font {
	font-size:12px;
	color:#2c2c2c;
	padding-left:5px;
}
.login-r table td span, .login-l table {
	font-family:"Titillium";
}
.time a, .login-l table td span a {
	font-size:12px;
	color:#f38b33;
	margin-left:15px;
}
.time a:hover, .login-l table td span a:hover {
	text-decoration:underline;
}
.login-l table td span a.link_style01 {
	margin:0;
}
.login-l table td input.input-style3 {
	width:290px;
	height:42px;
	border:1px solid #a0a0a0;
	border-radius:12px 12px 12px 12px;
	padding:0 12px;
	line-height:42px;
	font-size:18px;
	font-family:"Titillium";
}
.login-l table td input.input-style1 {
	margin-top:13px;
}
#id_birthdate_0 {
	margin-right:30px;
	width: 72px;
}
#id_birthdate_1 {
	margin-right:30px;
	width:85px;
}
#id_birthdate_2 {
	width:72px;
}
select {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	width: 220px;
	padding:8px 8px;
	font-size: 14px;
	border-radius:4px 4px 4px 4px;
	color: #555555;
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}
select, input[type="file"] {
	height:38px;
	line-height: 38px;
}
.events {
	padding:12px 15px 15px;
	width:875px;
	font-family:"Titillium";
}
.back {
	float:right;
}
.sub-nav {
	height:30px;
	line-height:30px;
	color:#bababa;
	font-size:12px;
	background:#fff;
	border:1px solid #ebebeb;
	border-radius: 8px 8px 8px 8px;
}
.sub-nav span a {
	padding:0 10px;
	color:#0084ff;
}
.sub-nav span a:hover {
	color:#131111;
}
.events-l {
	width:190px;
	float:left;
}
.events-l img.img-sidebar {
	border:1px solid #ebebeb;
	border-radius: 8px 8px 8px 8px;
	background:#fff;
	padding:14px;
	width:160px;
}
.share {
	width:170px;
	padding:10px 0 10px 14px;
	display: inline-block;
}
.share li {
	float:left;
	height:32px;
	margin: 0 10px 10px 0;
	width: 32px;
}
.share li a:hover {
	opacity:0.6;
}
.events-c {
	float:left;
	width:436px;
	margin:15px 30px;
}
.events-c h1 {
	font-family:"Titillium";
	font-size:28px;
	padding-top:20px;
	font-variant:inherit;
	color:#000;
}
#tccontent table tr td p.time,.row .add, .row .time {
	line-height:27px;
	color:#484848;
	font-size:12px;
	padding:5px 20px 0;
	background-image:url(../images/ioc_bg.png);
	background-repeat:no-repeat;
}
#tccontent table tr td p.time{
	margin-left:6px;
	}
#tccontent table tr td h4.eventname{
	color:#000;
	}
.add {
	background-position:left 8px;
}
.time {
	background-position:left -23px;
}
.row2 font {
	color:#fb7b0e;
}
.row2 table {
	width:100%;
	background:#fff;
}
.row2 table td {
	height:38px;
	padding-left:13px;
	line-height:38px;
	color:#666;
	border:1px solid #dadada
}
.row2 table td font {
	color:#333;
}
.map {
	margin-top:30px;
}
.map span {
	font-size:20px;
}
.map font {
	font-size:16px;
}
.map div {
/*	padding:15px;
	background:#fff;
	border:1px solid #ebebeb;
	margin:15px 0 80px; */
}
.events-r {
	width:188px;
	float:left;
}
.r-row {
	border-radius: 8px 8px 8px 8px;
	color:#fff;
	padding:24px 10px 20px 16px;
	margin-bottom:15px;
}
.rw-bg {
	background:url(../images/content_bg.gif) bottom repeat-x;
	width:162px;
}
.r-row font {
	color:#ffcc00;
	font-size:14px;
}
.rw-bg2 {
	background:#fff;
	border:1px solid #ebebeb;
	width:160px;
}
.r-row h3 {
	font-size:18px;
}
.a-but,.r-row a {
	width:100px;
	height:30px;
	display:block;
	background:#202020;
	line-height:30px;
	font-size:14px;
	color:#fff;
	text-align:center;
}
.a-but:hover,.r-row a:hover {
	background:#ffcc00;
}
.row .btn-Calendar {
	padding:4px 12px 4px 24px;
	background-image:url(../images/ioc_bg.png);
	background-position:5px -66px;
	background-repeat:no-repeat;
}
.row .btn-Calendar:hover {
	background-image:url(../images/ioc_bg.png);
	background-position:5px -66px;
	background-repeat:no-repeat;
}
.btn{
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-repeat: repeat-x;
	border-color: #BBBBBB #BBBBBB #A2A2A2;
	border-image: none;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	display: inline-block;
	font-size:12px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 4px 12px;
	text-align: center;
	vertical-align: middle;
	font-family:"Titillium";
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-black {
	background-color: #3f3834;
	background-image: linear-gradient(to bottom, #3f3834, #0e0e0e);
	color: #fff;
}
.btn-black:hover {
	background-color: #050505;
	background-image: linear-gradient(to bottom, #252524, #050505);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-range {
	background-color: #fb7b0e;
	background-image: linear-gradient(to bottom, #fb7b0e, #ea710a);
	color: #fff;
	font-size:12px;
}
.btn-lc{
	background-color: #37849a;
	background-image: linear-gradient(to bottom, #59bedc, #37849a);
	color: #fff;
	font-size:12px;
	border-color:#4c9db4;
	}
.btn-lc:hover{ 
	background-color: #4bb1cf;
	background-image: linear-gradient(to bottom, #4bb1cf, #37849a); 
	}
.btn-hui{
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #fcfcfc, #e7e7e7);
	color: #333;
	font-size:12px;
	border-color:#ccc;
	}
.btn-hui:hover{ 
	background-color: #fcfcfc;
	background-image: linear-gradient(to bottom, #fcfcfc, #efefef);
	color:#333; `````
	}
.btn-range:hover {
	background-color: #ea710a;
	background-image: linear-gradient(to bottom, #ea710a, #ea710a);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.bor-none .btn{
	margin-top:15px;
	}
/***********************************gigs***************************************/
.gigs-1 {
	height:30px;
	line-height:30px;
	color:#bababa;
	font-size:12px;
	border-radius: 8px 8px 8px 8px;
}
.gigs-1 a {
	margin:0 12px 0 2px;
}
.btn-black-1 {
	background-color: #9f9f9f;
	color: #fff;
}
.btn-black-1:hover {
	background-color: #3c8e00;
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-black-2{
	background-color: #3c8e00;
	background-repeat: repeat-x;
	color:#FFF;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-black-2:hover{
	background-color:#2e6c00;
	}
.btn-black-3{
	background-color:#9f9f9f;
	color:#fff;
		}
.btn-black-3:hover{
	background-color:#7c7c7c;
	}
.gigs-title li {
	border-bottom: dashed 1px #a8a8a8;
	line-height:28px;
	font-size:14px;
}
.gigs-title .gigs-ti-2 li{
	border-top: dashed 1px #a8a8a8;
	border-bottom:none;
	}
.gigs-title a {
	padding:0 0 0 20px;
	font-size:14px;
}
.gigs-title a:hover {
	display:block;
	background:#FFF;
	color:#2f2f2f;
	line-height:28px;
}
.act{
	display:block;
	background:#fff;
	}
.gigs-ti-2 li {
	background:url(../images/list01.gif) no-repeat 20px center;
}
 
.gigs-ti-2 li a {
	padding: 0 0 0 30px;
	display:block;
	transition: all 0s ease-in-out 0s;
}
.act2,.gigs-ti-2 li a:hover{
	background:#fff url(../images/list01.gif) no-repeat 20px center;
	}
.events-c2 {
	float:left;
	width:472px;
	margin:0px 12px 15px;
}
.events-c3 {
	float:left;
	width:685px;
	margin:0px;
}
.gigs_k {
	padding:10px;
	background:#fff;
	border:1px solid #ebebeb;
	margin:15px 0 0 0px;
}
.events-c2 strong {
	color:#fb8630;
	font-size:12px;
	margin: 0 0 0 8px;
}
.id_3 {
	width:128px;
	font-size:12px;
	margin: 0 0 0 3px;
	padding:10px 3px; 
	font-family:"Titillium";
}
.gigs-table td {
	padding: 0 8px;
}
.btn-black strong {
	padding:0 15px;
	color:#FFF
}
.content .table-xian {
	height:0px;
	border-top:1px solid #e2e2e2;
	border-bottom:1px solid #fff;
	overflow:hidden;
	padding:0px;
	margin-bottom:5px;
}
.gigs-table img {
	padding:1px;
	background:#FFF
}
.btn-hs {
	background-color: #f2f2f2;
	background-image: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
	color: #ff851e;
	font-size:14px; 
	line-height: 20px; 
	padding:8px;
	border-right:1px solid #bbb;
	float:left;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
}
.btn-hs:hover {
	background-color: #e1e1e1;
	color:#070707;
}

.fontcolor {
	color:#7c7c7c;
} 
.mt15 a {
	margin:0px;
}
.fy-size {
	 color: #7C7C7C;
    float: left;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    margin:15px 0 0 15px;
}
.gigs-fy {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-repeat: repeat-x;
	border-color: #BBBBBB #BBBBBB #A2A2A2;
	border-image: none;
	border-radius:6px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	display: inline-block;
	font-size:12px;
	line-height: 30px;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	font-family:"Titillium";
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	float:left;
}
.row4 {
	margin:0px 0 0;
}
.row4 span {
	font-size:24px;
	padding: 0 0 0 8px
}
.gigs-u-l td {
	padding:8px;
}
.gigs-u-l b {
	font-size:16px;
}
.btn-blue {
	background-color: #195cc0;
	background-image: linear-gradient(to bottom, #195cc0, #195cc0);
	color: #fff;
	font-size:14px;
}
.btn-blue:hover {
	background-color: #0e4597;
	background-image: linear-gradient(to bottom, #1854ad, #0e4597);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
#tcbox {
	background:url(../images/tc_bg.png);
	height: 100%;
	position:fixed;
	width: 100%;
	z-index: 49;
}
#tccontent {
	width:500px; 
	position:fixed;
	float:left;
	top:50%;
	left:50%;
	margin:-15% 0 0 -250px;
	z-index:50;
	border-radius: 8px 8px 8px 8px;
	border-style: solid;
	border-width: 1px;
	font-size:12px;
	line-height: 30px;
	margin-bottom: 0;
	padding: 1px 0px;
	text-align: center;
	font-family:"Titillium";
	background:#fff;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
#tcbox {
	background:url(../images/tc_bg.png);
	height: 100%;
	position:fixed;
	width: 100%;
	z-index: 49;
}
.gigs_tck {
	border-bottom:1px solid #dfdfdf;
	overflow:hidden;
	margin:10px 0 0 0;
}
.gigs-tck-table {
	border-bottom:1px solid #dfdfdf;
	overflow:hidden;
	margin:10px 0;
}
.gigs-tck-table img {
	padding:10px;
}
.gigs-tck-table td{
	padding: 0 0 20px 0
}
.gigs-tck-table h2 {
	background:url(../images/ioc07.gif) no-repeat left center;
	padding: 0 0 0 20px;
	font-family:"Titillium";
	color:#5a5a5a;
}
.gigs-tck-table h3 {
	background:url(../images/ioc08.gif) no-repeat left center;
	padding: 0 0 0 20px;
	font-family:"Titillium";
	color:#5a5a5a;
}
.gigs-tck-table h4 {
	padding: 0 0 0 6px;
	font-family:"Titillium";
	color:#ff851e;
	font-size:16px
}
.tdT .map{
	margin:15px 0 0;
	}
.gigs-u-l{
	margin:15px 0;} 
.list-time{
	display:block;
	height:21px;
	width:55px;
	line-height:21px;
	text-align:center;
	background:#f58b35;
	font-size:14px;
	font-family:"Titillium";
	color:#fff;
	border-radius:5px;
	}
.timebtn_bg{
	background-color:#195cc0;
	}
.aigs_k_title{
	width:260px;
	display:inline-block;
	}
.list-tablep{
	display:block;
	padding:10px;
	margin:5px 0 10px;
	}
.list-tablep:hover{
	background:url(../images/colum_bg.gif);
	}
.list-tablep .tdC span{
	font-size:18px;
	}
.list-tablep .tdC font{
	font-size:14px;
	}
.list-tablep td{
	padding:0 10px 0 0;
	}
.gigs-top-xx {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-repeat: repeat-x;
	border-color: #BBBBBB #BBBBBB #A2A2A2;
	border-image: none;
	border-radius:6px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	display: inline-block;
	font-size:12px;
	line-height: 30px;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	font-family:"Titillium";
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	margin:0px;
}

.btn-hs2 {
	background-color: #f2f2f2;
	background-image: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
	color: #464646;
	font-size:12px; 
	line-height: 20px; 
	padding:4px 8px;
	border-right:1px solid #bbb;
	float:left;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
}
.btn-hs2:hover {
	background-color: #4cb300;
	color:#fff;
	background-image: linear-gradient(to bottom, #4cb300, #3c8f00);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
a.left-by{
	border-radius: 4px 0px 0px 4px;
	}
a.left-by:hover {
	background-color: #4cb300;
	color:#fff;
	background-image: linear-gradient(to bottom, #4cb300, #3c8f00);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-radius: 4px 0px 0px 4px;
}
a.right-by:hover {
	background-color: #4cb300;
	color:#fff;
	background-image: linear-gradient(to bottom, #4cb300, #3c8f00);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-radius: 0px 4px 4px 0px;
}
a.right-by{
	border-radius: 0px 4px 4px 0px;
	}
.by-hover {
	background-color: #4cb300;
	color:#fff;
	background-image: linear-gradient(to bottom, #4cb300, #3c8f00);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.right-by-hover {
	background-color: #4cb300;
	color:#fff;
	background-image: linear-gradient(to bottom, #4cb300, #3c8f00);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-radius: 0px 4px 4px 0px;
}
#con{
	margin-top:10px;
	}
#tags {
	margin: 0px 0px 0px 20px;
	width: 400px;
	padding: 0px;
	height: 25px
}
#tags li {
	background: url(images/tagleft.gif) no-repeat left bottom;
	float: left;
	margin-right: 1px;
	list-style-type: none;
	height: 25px;
	border-radius: 4px 0px 4px 0px;
	margin: 0 5px 0 3px 
}
#tags li A {
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 4px 4px 0px 0px;
	float: left;
	padding-bottom: 0px;
	color: #fff;
	line-height: 23px;
	padding-top: 0px;
	height: 25px;
	text-decoration: none;
	background:#585858
}
#tags li.emptyTag {
	background: none transparent scroll repeat 0% 0%;
	width: 4px
}
#tags li.selectTag {
	background-POSITION: left top;
	margin-bottom: -2px;
	POSITION: relative;
	height: 25px
}
#tags li.selectTag a {
	background-POSITION: right top;
	color: #000;
	line-height: 25px;
	height: 25px;
	background:#9b9b9b;
}
.tagContent {
	display: none;
	width: 465px;
	color: #474747;
	padding: 10px 0;
	margin: 0 auto;
	border:1px solid #ebebeb
}
#tagContent div.selectTag {
	display: block
}
.btn-red {
	background-color: #db0031;
	background-image: linear-gradient(to bottom, #db0031, #c00c34);
	color: #fff;
	font-size:14px;
}
.btn-red:hover{
	background-color: #ca002d;
	background-image: linear-gradient(to bottom, #ca002d, #910020);
	}
.btn-blue:red {
	background-color: #0e4597;
	background-image: linear-gradient(to bottom, #1854ad, #0e4597);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.gigs_top {
	border-top:1px solid #dfdfdf;
	overflow:hidden;
	margin:10px 0;
	padding: 10px 0 0 0 ;
}
.gigs_top font{
	color:#064bb2;
	padding: 0 0 0 15px;
}
.gigs_top span a.cancel{
	color:#064bb2;
	}
.gigs_top span a.cancel:hover{
	color:#666;
	text-decoration:underline;
	}
/*===============================20130807========================*/
.textarea{
	width:390px;
	border:1px solid #999999;
	border-radius:12px;
	margin-left:10px;
	padding:10px;
	height:65px;
	line-height:1.7em;
	}
.fontsize14{
	font-size:14px;
	}

.fontsize12{
	font-size:12px;
	}
.time2{
	border-radius:4px;
	padding:6px 10px;
	font-size:12px;
	font-family:"Titillium";
	color:#fff;
	background:#aeaeae;
	display:block; 
	}

.tdC .time2{ 
	visbility:hidden;
	}
.list-tablep:hover .tdC .time2{ 
	visbility:visible;
	}

.list-tablep tr td p.mt15{
width:250px;
}
.index_banner{
	width:100%;
	background:url(../images/indextopbannerbg.gif);}
.index_banner div,.index_banner{
	height:220px;
	text-align:center;
	} 
.index_banner div img{
	margin-top:-27px;
	}
#indexsearch{
	background: url(../images/indexsearch_bg.gif) repeat-x;
	height:113px;
	}
#indexcontent{
	background:none;
	}

.inputborder{
	display:inline-block;
	border:1px solid #999;
	border-radius:10px;
	padding:0 10px;
	}
.input-style4{
	height:42px;
	border:none;
	line-height:42px;
	font-size:14px;
	font-family:"Titillium";
	color:#333;
	}
.textinput-w3{
	width:295px;
	}
.textinput-w4{
	width:110px;
	}
.inputborder a{
	float: right;
	border-left:1px solid #999;
	}
.table-edit td{
	padding-bottom:15px;
	font-size:16px;
	color:#000;
	}
textarea.textinput-w3{
	line-height:1.7em;
	}
#file{
	width:90px;
	height:20px;
	border:none;
	background:url(../images/file_bg.gif);
	cursor:pointer;
	vertical-align:middle;
	}

.layer{
	padding:35px 30px;
	font-family:"Titillium";
	font-size:16px;
	color:#000;
	}
.layertitle{
	font-size:18px;
	}
.layer table{
	width:100%;
	}
.layer table tr{
	border-bottom:1px solid #cbcbcb;
	}

.layer table tr a{
	font-size:12px;
	color:#115ca2;
	}
.layer table tr a:hover{
	text-decoration:underline;
	}
.layer table tr select#id_birthdate_0 {
	width:320px;
	height:40px;
	}
.layer table tr td{
	height:86px;
	line-height:86px;
	}
.layercolour{
	display:inline-block;
	border:1px solid #cbcbcb;
	border-radius:10px;
	background:#fff;
	padding:6px 10px;
	height:28px;
	vertical-align: middle;
	margin-left:10px;
	}
.layercolour span{
	display:inline-block;
	width:28px;
	height:28px;
	vertical-align: bottom;
	margin-right:15px;
	}
.colour_bg{
	background:#f00;
	}

.login-l table td span font.addtitle{
	margin-left: -15px;
    margin-right: 5px;
	font-size:16px;
	vertical-align: -3px;
	color:#d70000;
	}
.i_ioc{
    background: none repeat scroll 0 0 #000000;
    border-radius: 50% 50% 50% 50%;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
	font-family:"Titillium";
	margin-left:10px;
	}

.i_ioc:hover{
	background:#ec902c;
	}

.mt15 a.i_ioc{
	margin-left:10px;
	}



div.slideBox{ position:relative; width:670px; height:300px; overflow:hidden;}
div.slideBox ul.items{ position:absolute; float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li{ float:left; background:none; list-style:none; padding:0px; margin:0px;}
/*====================20130902=================*/

.article{
	padding:30px;
	font-family:"Titillium";
	color:#666;
	font-size:14px;
	}

.article h5{
	font-size:24px;
	color:#000;
	padding:5px 0 10px;
	font-family:"Titillium";
	line-height:100%;
	}
.article p{
	padding-bottom:15px;
	line-height:1.7em;
	}

.article ul{
	padding:0 0 15px 15px;
	}
.article ul li{
	list-style:disc;
	text-indent:-0.3px;
	}
 
.list-tablep tr td span a{
font-size:24px;
}
.list-tablep tr td span a:hover{
color:#ff7201;
}
p.mt15 a.ml15{
margin-left:15px;
}
mt15 a.mt15{
margin-top:15px;
}
















